.danger-border{
    border: 1px solid red;
}
.valid-border{
    border: 1px solid greenyellow;
}


ion-label{
    display: flex !important;
  justify-content: start !important;
  align-items: center !important;
}
.item-has-focus{
    border:none !important ;
}
.valid-mood
{
    border-bottom: 2px #00a100e0 solid !important;
}

.danger-mood
{
    border-bottom: 2px rgba(255, 18, 18, 0.89) solid !important;
}


.check-mark{
    position: absolute !important;
    right: 2px !important;
}