<!-- <ion-label>
  dirty: {{getFormFiled?.dirty}}
  <br>
  pristine: {{getFormFiled?.pristine}}
  <br>
  touched: {{getFormFiled?.touched}}
  <br>
  Errors: {{getFormFiled.errors |json}}

</ion-label> -->

  <ion-item 
   [ngClass]="(getFormFiled?.dirty && getFormFiled.errors !== null)?'danger-mood'  : ''"   
    [ngClass]="(getFormFiled?.dirty && getFormFiled.errors === null)?'valid-mood'  : ''">
    <ion-label  position="floating">

      <!--  INPUT ICONS -->
      <ion-icon color="primary" *ngIf="fildName === 'name'" class="mr-3" name="person-outline"></ion-icon>
      <ion-icon color="primary" *ngIf="fildName === formInput.email" class="mr-3" name="mail-outline"></ion-icon>

      <ion-icon color="primary" *ngIf="fildName === formInput.password" class="mr-3" name="lock-closed-outline"></ion-icon>
      <ion-icon color="primary" *ngIf="fildName === 'phone'" class="mr-3" name="phone-portrait-outline"></ion-icon>
      <!--  INPUT ICONS -->

      <span>{{label}}</span>

    </ion-label>

<!-- For any Non -->
     <ion-input
     class="mb-1"
      [type]="fildName"
     (input)="onChange($event)"
     (blur)="onTouched()"
     id="{{label}}"
     #inputRef
     name="{{label}}"
     [id]="fildName"
     [name]="fildName"
     >

<!-- For any Non -->



     


     <!-- CHECKMARK WHEN DATA AER VALD -->
     <ion-icon class="check-mark" color="success"
      *ngIf="(getFormFiled?.dirty && getFormFiled.errors === null)"
      name="checkmark-outline"></ion-icon>
      <!-- CHECKMARK WHEN DATA AER VALD -->


     <!--   PASSWORD WHEN DATA AER VALD -->
     <!-- <ion-icon  class="check-mark" color="primary"
      *ngIf="(getFormFiled?.dirty && getFormFiled.errors === null)
       && this.fildName === formInput.password"
      [name]="passwordToggalicon"></ion-icon> -->
      <!--  PASSWORD WHEN DATA AER VALD -->



    </ion-input>



<!-- <ion-label>
  dirty: {{getFormFiled?.dirty}}
  <br>
  pristine: {{getFormFiled?.pristine}}
  <br>
  touched: {{getFormFiled?.touched}}
  <br>
  <br>
  Errors: {{getFormFiled.errors |json}}

</ion-label> -->


