

    <ion-label>{{label}}</ion-label>

     <ion-input  class="mb-1"
      [type]="type"
     (input)="onChange($event)"
     (blur)="onTouched()"
     id="{{label}}"
     #inputRef
     name="{{label}}"
     [id]="fildName"
     [name]="fildName"></ion-input>


    <!-- <ion-label *ngIf="getFormFiled?.touched && getFormFiled?.invalid "
    class="validation-wrapper">


    <span *ngIf="getFormFiled?.errors.required" class="ml-2 text-danger"> Password is required</span>

  </ion-label>  -->

<!-- <ion-label>
  dirty: {{getFormFiled?.dirty}}
  <br>
  pristine: {{getFormFiled?.pristine}}
  <br>
  touched: {{getFormFiled?.touched}}
  <br>

</ion-label> -->


