<ion-content>
	<section class="user-area ptb-100">
		<div class="container">


			<div class="row">
				<div class="col-lg-6">
					<div class="user-form-content log-in-50">
						<h3>Log In to Your Account</h3>

						<form [formGroup]="loginForm" *ngIf="loginForm" (ngSubmit)="submitForm()" class="user-form">
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<!-- <input formControlName="email" type="email" class="form-control"> -->
										<app-form-input 
										formControlName="email"
									    [type]="'email'" [label]="'Email'"
										[paremnForm]="loginForm"
										[fildName]="'email'"
										
										></app-form-input>
										<!-- Email Validation -->

										<!-- <app-error-message [fild]="loginForm.get('email')" error="required" message="Email is required"></app-error-message> -->

										<!-- <div *ngIf="loginFormControl.email?.touched && loginFormControl.email?.invalid"
											class="validation-wrapper">


											
											<span *ngIf="loginForm.get('email').errors['required']" class="ml-2 text-danger">
Email is required
											
											</span>

											<span *ngIf="loginForm.get('email').errors['pattern']
										" class="ml-2 text-danger">Email format does't valid</span>

										</div> -->
										<!-- Email Validation -->
									</div>



								</div>

								<div class="col-12">
									<div class="form-group">
										<!-- <label>Password</label>
										<input class="form-control" formControlName="password" type="password"> -->
										<app-form-input 
										formControlName="password"
									    [type]="'password'"
										 [label]="'Password'"
										 [paremnForm]="loginForm"
										[fildName]="'password'"
										 ></app-form-input>



										 
										
<!-- 
										<div *ngIf="loginFormControl.password?.touched &&loginFormControl.password?.invalid "
											class="validation-wrapper">


											<span *ngIf="
											loginForm.get('password').errors['required']" class="ml-2 text-danger"> Password is required</span>

										</div> -->
									</div>
								</div>

								<div class="col-12">
									<div class="login-action d-flex align-items-center justify-content-between">
										<span class="log-rem d-flex align-items-center justify-content-start">
											<ion-checkbox class="mr-2" color="primary"></ion-checkbox>
											<label>Keep me logged in</label>
										</span>

										<span class="forgot-login">
											<a href="change-password.html">Forgot your password?</a>
										</span>
									</div>
								</div>

								<div class="col-12">
									<button [disabled]="loginForm.invalid" class="default-btn" type="submit">
										Log In
									</button>
								</div>

								<div class="col-12">
									<span class="or">Or</span>
								</div>

								<div class="col-12">
									<a href="#" class="or-login" (click)="loginWithFacebook()">
										<ion-icon class="mr-2 " name="logo-facebook" color="primary"></ion-icon>
										Login with Facebook
									</a>
								</div>

								<div class="col-12">
									<a href="#" class="or-login google" (click)="loginWithGoogle()">
										<ion-icon class="mr-2 " name="logo-google" color="danger"></ion-icon>

										Login with Google
									</a>
								</div>

								<div class="col-12">
									<p class="create"> Don’t Have an Account? <a routerLink="/register">Create</a></p>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>


		</div>
	</section>
	<!-- <div class="row">
		<h3>Email stat:{{loginForm.get('email').status}}</h3>
		<h3>Email touched:{{loginForm.get('email').touched}}</h3>
		<h3>Email dirty:{{loginForm.get('email').dirty}}</h3>
		<h3>Form stat:{{loginForm.status}}</h3>
	</div> -->
</ion-content>