<ion-content>
  <section class="user-area ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="user-form-content">
            <h3>Create an Account</h3>

            <form [formGroup]="registerForm" *ngIf="registerForm" class="user-form">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                   

                  <app-form-input formControlName="name" [label]="'Name'" [paremnForm]="registerForm"
                  [fildName]="'name'"></app-form-input>
                <!-- Email Validation -->
                <div class="mt-2">
                  <app-error-message [fild]="nameField" [message]="'name'">
                  </app-error-message>
                </div>
                <!-- Email Validation -->

                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                  
                    <app-form-input formControlName="{{formInput.email}}" [label]="'Email'" [paremnForm]="registerForm"
                      [fildName]="formInput.email"></app-form-input>
                    <!-- Email Validation -->
                    <div class="mt-2">
                      <app-error-message [fild]="this.emailField" [message]="formInput.email">
                      </app-error-message>
                    </div>
                    <!-- Email Validation -->
                  
                  
                  
                  
                  
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">

                    <app-form-input 
                    formControlName="{{formInput.password}}"										 
                     [label]="'Password'"
                    [paremnForm]="registerForm"
                    [fildName]="formInput.password"
                    
                    ></app-form-input>

                    <!-- Password Validation -->
                    <div class="mt-2">
                      <app-error-message [fild]="this.passwordField" [message]="formInput.password">
                      </app-error-message>
                    </div>
                    <!-- Password Validation -->


                  </div>
                </div>


                <div class="col-12">
                  <div class="form-group">
                      <app-form-input 
                    formControlName="phone"										 
                     [label]="'Phone'"
                    [paremnForm]="registerForm"
                    [fildName]="'phone'"
                    
                    ></app-form-input>

                    <!-- Password Validation -->
                    <div class="mt-2">
                      <app-error-message [fild]="this.phoneField" [message]="'phone'">
                      </app-error-message>
                    </div>
                    <!-- Password Validation -->
                  </div>
                </div>


                <div class="col-12">
                  <div class="form-group">
                    <app-form-input 
                  formControlName="organizationCode"										 
                   [label]="'Organization Code'"
                  [paremnForm]="registerForm"
                  [fildName]="'organizationCode'"
                  
                  ></app-form-input>

                  <!-- Password Validation -->
                  <div class="mt-2">
                    <app-error-message [fild]="this.organizationCodeField" [message]="'Organization Code'">
                    </app-error-message>
                  </div>
                  <!-- Password Validation -->
                </div>
                </div>


                <div class="col-12">
                  <div class="form-group">
                    <app-form-input 
                  formControlName="employeeNumber"										 
                   [label]="'Employee Number'"
                  [paremnForm]="registerForm"
                  [fildName]="'employeeNumber'"
                  
                  ></app-form-input>

                  <!-- Password Validation -->
                  <div class="mt-2">
                    <app-error-message [fild]="this.employeeNumberField" [message]="'Employee Number'">
                    </app-error-message>
                  </div>
                  <!-- Password Validation -->
                </div>
                </div>






                <div class="col-12">
                  <div class="form-group">

                    <ion-item>
                      <ion-label>Account Type</ion-label>
                      <ion-select formControlName="roleId" placeholder="Select One">
                        <ion-select-option *ngFor="let role of roles" value="{{role.roleId}}">
                          {{role.roleName}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>



                    <div *ngIf="registerFormControl.roleId?.touched && registerFormControl.roleId?.invalid"
                      class="validation-wrapper">

                      <span *ngIf="registerForm.get('roleId').errors['required']" class="ml-2 text-danger">
                       Account Type is required</span>
                        
                    </div>
                    <!-- Email Validation -->
                  </div>
                </div>






                <!-- <div class="col-12">
                  <div class="form-group">
                    <label>Repeat Password</label>
                    <input class="form-control" type="password" name="repeat-password">
                  </div>
                </div> -->

                <div class="col-12">
                  <button [disabled]="registerForm.invalid" (click)="submitForm()" class="default-btn register"
                    type="submit">
                    Register Now
                  </button>
                </div>

                <div class="col-12">
                  <p class="create">Already Have an Account? <a routerLink="/">Log In</a></p>
                </div>
               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>